# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# Flask-specific
instance/
*.sqlite3
*.db

# Logs and environment files
*.log
*.env

# IDEs and editors
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.bak
